<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    {{#------  require CSS and JS files for this page (read info in base.css) ------}}
    {{response.files.append(URL('static','css/base.css'))}}
    {{response.files.append(URL('static','css/superfish.css'))}}
    {{response.files.append(URL('static','js/superfish.js'))}}
    {{###### include web2py specific js code (jquery, calendar, form stuff) }}
    {{include 'web2py_ajax.html'}}
    
    <title>Fitness Challenge    </title>

    <link rel="stylesheet" type="text/css" media="screen" href="{{=URL('static', 'css/style.css')}}" />
</head>
<body>

<div id="header">
    <div id="headMenu">
        <ul>
            <li><a class="headMenuHomeSelected" href="{{=URL(r=request,f='index')}}"><span class="verticalAlign">home</span></a></li>
            <li><a class="headMenuArticles" href="#"><span class="verticalAlign">challenges</span></a></li>
            <li><a class="headMenuContact" href="{{=URL(r=request,f='contact')}}"><span class="verticalAlign">contact</span></a></li>
        </ul>
    </div>
    
    <div id="mainTitle">
    <br/>
        <h2>Fitness Challenge </h2>
        <h3>Step Up To The Challenge
        <br/>
    </div>
    
    <div id="auth_navbar">
        <br/>
        {{try:}}{{=auth.navbar(action=URL('default','user'))}}{{except:pass}}</h3>
    </div>
</div>


<div id="content-wrapper">

    <div id="content">
        {{if request.args(0) != None:}}
            <h1 class="titlePage">{{=T(request.args(0).replace('_',' ').capitalize())}}</h1>
        {{else:}}
            <h1 class="titlePage">{{=T(request.function.replace('_',' ').capitalize())}}</h1>
        {{pass}}
        <div class="post">
            {{include}}
            <div class="postContent">

            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div id="footer">
    <ul>
        <li><a href="{{=URL(r=request,f='index')}}">home</a> |</li>
        <li><a href="#">about us</a> |</li>
        <li><a href="#">sitemap</a> |</li>
        <li><a href="{{=URL(r=request,f='contact')}}">contact</a></li>
    </ul>
    <p class="copyright"><a href="http://www.florian-hacquebart.eu">florian-hacquebart.eu</a> - free css template</p>
    <p class="w3cvalidator">
        <a href="http://validator.w3.org/check?uri=referer">
            <img src="images/xhtml.png" alt="Valid XHTML 1.0 Transitional" />
        </a>&nbsp;
        <a href="http://jigsaw.w3.org/css-validator/check/referer">
            <img src="{{=URL('static', 'images/css.png')}}" alt="Valid CSS!" />
        </a>
    </p>
</div>

</body>
</html>
