{{extend 'UNd-template.html'}}
{{include 'web2py_ajax.html'}} 
{{block top_menu}}
    <ul>
        <li class="top-menu-item"><a href="{{=URL(r=request,f='index')}}">Home</a></li>
        <li class="top-menu-item"><a href="#">Challenge</a></li>
        <li class="top-menu-item"><a href="{{=URL(r=request,f='contact')}}">Contact</a></li>
        <li class="before-selected"></li>
        <li class="selected"><a href="#">About</a></li>
        <li class="after-selected"></li>
    </ul>
{{end}}

<br>
<h2>
Welcome to Fitness Challenge!
</h2>
<br>
<h3>
Fitness Challenge is an online community where participants unite for the common goal of wellness. 
<br><br>
Using competition and comradery as driving forces, members set personal fitness goals while utilizing
the support and inspiration that flourishes in community settings.
<br><br>
Fitness Challenge is free to use and, while competitive in nature, the Challenges are intended as a 
fun way to encourage healthy activity.
</h3>
<p>
<hr>
<p>
<h3>Challenge Descriptions</h3>

<table width="93%">

	<tr>
		<td><h3>Challenge Name:</h3></td>
		<td> <h3> This is the first thing people will see about your Challenge. It can be the name of your group, a specific event, or anythig you want.
		For example: Another Kick Butt Challenge! </h3></td>
	</tr>
	<tr> 
		<td><h3> Describe Your Challenge: </h3></td>
		<td><h3> Tell everyone what this challenge is about and why they should join. Is it meant for weight loss, or number of miles run, or number of steps taken?</h3></td>
	</tr>
	<tr> 
		<td><h3> Start Date and End Date: </h3></td>
		<td><h3> This will tell people when the Challenge begins and when it ends. </h3></td>
	</tr>
	<tr> 
		<td><h3> How often should participants record their status: </h3></td>
		<td><h3> This tells people how often to record their progress on the challenge. You can select Daily, Weekly, or Monthly. 
		For example, if the Challenge has a Start Date of Saturday November 5th, and set to Weekly, Participants can enter their progress once a week on Saturday. </h3></td>
	</tr>
	<tr> 
		<td><h3> Metric Name : </h3></td>
		<td><h3> This tells people specifically what the Challenge measures to determine a winner. For example, laps in the pool, or fastest 5k, or situps. </h3></td>
	</tr>
	<tr> 
		<td><h3> Metric Type : </h3></td>
		<td><h3> This is the category of the Challenges metric. It can be set to categories like Repetitions, Sets, Miles, Time, BMI, etc. </h3></td>
	</tr>

</table>




