{{extend 'UNd-template.html'}}
{{block top_menu}}
    <ul>
        <li class="top-menu-item"><a href="{{=URL(r=request,f='index')}}">Home</a></li>
        <li class="before-selected"></li>
        <li class="selected"><a href="#">Challenge</a></li>
        <li class="after-selected"></li>
        <li class="top-menu-item"><a href="#">Check In</a></li>
        <li class="top-menu-item"><a href="{{=URL(r=request,f='contact')}}">Contact</a></li>
        <li class="top-menu-item"><a href="#">About</a></li>
    </ul>
{{end}}

{{block header}}
	<h1 class="titlePage">{{=form.name}} 
	{{if auth.user.id not in form.participants:}}
		<input type="button" name="Join" value="Join" onclick="window.location = 'join?event={{=form.id}}' " /> 
	{{pass}}
	</h1>
{{end}}

{{block right_menu}}
	{{if auth.user.id == form.created_by:}}
		<li>{{=A('Edit Challenge', _href=URL('edit', vars=dict(event=form.id)))}}</li>
	{{pass}}
{{end}}

<table class='event' width="100%">
    <tr>
        <td valign="top" width="70%" rowspan="6"><h3> {{=form.description}} </h2></td>
        <td width="20%">Start Date: </td>
        <td width="10%"> {{=form.start_date}}</td>
    </tr>
    <tr>
        <td>End Date: </td>
        <td> {{=form.end_date}} </td>
    </tr>
    <tr>
        <td>Status: </td>
        <td>{{=form.status}} </td>
    </tr>
    <tr>
        <td>Check In: </td><td> {{=form.check_in}} </td>
    </tr>
    <tr>
        <td>Metric Name: </td><td> {{=form.metric_name}} </td>
    </tr>
    <tr>
        <td># of Partcipants: </td><td>{{=num_users}}</td>
    </tr>    
</table> 
<hr>
<br>
<center><h2> Leaders Board </h2></center>
</br>
<table>
    <th>Name</th>
    <th>Entry</th>
    <th>Date of Last Entry</th>
	{{for entry in entries:}}    
        <tr>        
            <td>{{=entry.user.user_name.first_name}}</td>
            <td>{{=entry.value}}</td>
            <td>{{=entry.date_entered}}</td>
        </tr>
    {{pass}}
</table>

<br>
<hr>
