{{extend 'UNd-template.html'}}

{{block top_menu}}
    <ul>
        <li class="before-selected"></li>
        <li class="selected"><a href="{{=URL(r=request,f='index')}}">Home</a></li>
        <li class="after-selected"></li>
        <li class="top-menu-item"><a href="{{=URL(r=request,f='search')}}">Challenges</a></li>
        <li class="top-menu-item"><a href="{{=URL(r=request,f='contact')}}">Contact</a></li>
        <li class="top-menu-item"><a href="{{=URL(r=request,f='about')}}">About</a></li>
    </ul>
{{end}}

<img src="{{=URL('download',args=auth.user.image)}}" height=100 />
<p>
<center><h2> Current Challenges </h2></center>
<table>
    <th>Challenge Name</th>
    <th>Status</th>
    <th>Check In</th>
    <th>Start Date</th>
    <th>End Date</th>
    {{for event in events:}}
        <tr>        
            <td>{{=A(event.name, _href=URL('challenge', vars=dict(event=event.id)))}}</td>
            <td>{{=event.status}}</td>
            <td>{{=event.check_in}}</td>
            <td>{{=event.start_date}}</td>
            <td>{{=event.end_date}}</td>
        </tr>
    {{pass}}
</table>
