{{extend 'UNd-template.html'}}

<img src="{{=URL('download',args=auth.user.image)}}" height=100 />
<p>
<center><h2> Current Challenges </h2></center>
<table>
    <th>Challenge Name</th>
    <th>Status</th>
    <th>Check In</th>
    <th>Start Date</th>
    <th>End Date</th>
    {{for challenge in challenges:}}
        <tr>        
            <td>{{=A(challenge.name, _href=URL('view_challenge', vars=dict(challenge=challenge.id)))}}</td>
            <td>{{=challenge.status}}</td>
            <td>{{=challenge.check_in}}</td>
            <td>{{=challenge.start_date}}</td>
            <td>{{=challenge.end_date}}</td>
        </tr>
    {{pass}}
</table>
