{{extend 'layout.html'}}

<table width="100%" border=0>
<tbody>
<tr>
<td width="50%" valign="middle">
    <font size="5">F</font><font size="4">ITNESS</font> <font size="5">F</font><font size="4">RIENDS</font>
    <br>
    <font size="3">Step Up To The Challenge</font>
</td>
<td width="50%">
    <center><h3>{{=T( request.args(0).replace('_',' ').capitalize() )}}</h3></center>
    {{=form}}
</td>
</tr>
<tr>
<td/>
<td>
    {{if request.args(0)=='login':}}
    {{if not 'register' in auth.settings.actions_disabled:}}
    <center><br/><a href="{{=URL(r=request,args='register')}}">register</a>
    &nbsp&nbsp&nbsp&nbsp&nbsp
    {{pass}}
    {{if not 'request_reset_password' in auth.settings.actions_disabled:}}
    <a href="{{=URL(r=request,args='request_reset_password')}}">    lost password</a></center>
    {{pass}}
    {{pass}}

</td>
</tr>
</tbody>
</table>

<hr>
