{{extend 'UNd-template.html'}}

{{block top_menu}}
    <ul>
        <li class="before-selected"></li>
        <li class="selected"><a href="{{=URL(r=request,f='index')}}">Home</a></li>
        <li class="after-selected"></li>
        <li class="top-menu-item"><a href="#">Categories</a></li>
        <li class="top-menu-item"><a href="{{=URL(r=request,f='contact')}}">Contact</a></li>
        <li class="top-menu-item"><a href="{{=URL(r=request,f='about')}}">About</a></li>
    </ul>
{{end}}

<div id="web2py_user_form">
{{if request.args(0)=='register':}}
    <p>
    {{=form.custom.begin}}
    <h3>First Name: {{=form.custom.widget.first_name}} Last Name: {{=form.custom.widget.last_name}}</h3>
    <p><p>
    <h3>E-Mail: {{=form.custom.widget.email}}</h3>
    <p>
    <h3>Password: {{=form.custom.widget.password}}</h3>
    <h3>Verify Password: {{=form.custom.widget.password_two}}</h3>
    <p>
    <h3>Gender</h3>
    <h4>{{=form.custom.widget.gender}} </h4>
    <p>
    <h3>Birthday: {{=form.custom.widget.birthday}}</h3>
    <p>
    <h3>Height (inches): {{=form.custom.widget.height}} Current Weight (lbs): {{=form.custom.widget.current_weight}}</h3>
    <br/>
    
    {{=form.custom.submit}}
    {{=form.custom.end}} 
{{pass}}

{{if request.args(0)=='login':}}
	<table width="100%">
    	<tr>
    		<td>
    			<h2>
				Welcome to Fitness Challenge!
				</h2>
				<br>
				<h3>
				Fitness Challenge is an online community where participants unite for the common goal of wellness. 
				<br><br>
				Using competition and comradery as driving forces, members set personal fitness goals while utilizing
				the support and inspiration that flourishes in community settings.
				<br><br>
				Fitness Challenge is free to use and, while competitive in nature, the Challenges are intended as a 
				fun way to encourage healthy activity.
				</h3> 
    		</td>
    		<td>
			    {{=form.custom.begin}}
			    	<p>
			    	<center> <h3>E-Mail: {{=form.custom.widget.email}}</h3>
			    	<p>
			    	<h3>Password: {{=form.custom.widget.password}}</h3>
			    	<p>
			    	{{=form.custom.submit}}
			    	</center>    
			    {{=form.custom.end}} 
			    {{if not 'register' in auth.settings.actions_disabled:}}
			        <br/>
			        <h3><a href="{{=URL(r=request,args='register')}}">register for free </a></h3>
			    {{pass}}
			    {{if not 'request_reset_password' in auth.settings.actions_disabled:}}
			        <h3><a href="{{=URL(r=request,args='request_reset_password')}}">  forgot password?</a></h3>
			    {{pass}}
			    {{pass}}
			 </td>
		</tr>
	</table>
{{pass}}

{{if request.args(0)=='profile':}}
    {{=form.custom.begin}}
    <h3>First Name: {{=form.custom.widget.first_name}}</h3>
        <br>
    <h3>Last Name: {{=form.custom.widget.last_name}}</h3>
        <br>
    <h3>E-Mail: {{=form.custom.widget.email}}</h3>
        <br>
    <h3>Profile Picture: {{=form.custom.widget.image}}
        <br>
    <h3>Gender</h3>
    <h4>{{=form.custom.widget.gender}} </h4>
        <br>
    <h3>Birthday: {{=form.custom.widget.birthday}}</h3>
        <br>
    <h3>Height (inches): {{=form.custom.widget.height}}</h3>
        <br>
    <h3>Current Weight (lbs): {{=form.custom.widget.current_weight}}</h3>
    <br/>
    
    {{=form.custom.submit}}
    <input type="button" name="Cancel" value="Cancel" onclick="window.location = '../home.html' " /> 
    {{=form.custom.end}} 
{{pass}}

{{if request.args(0)=='request_reset_password':}}
    <p>
    {{=form.custom.begin}}
    Enter the email address you registered with. An email will be sent to reset your password.
    <p>
    <center> <h3>E-Mail: {{=form.custom.widget.email}}</h3>     </center>
    <br>
    {{=form.custom.submit}}
    <input type="button" name="Cancel" value="Cancel" onclick="window.location = '../home.html' " /> 
    {{=form.custom.end}} 

{{pass}}    

{{if request.args(0)=='change_password':}}
    <p>
    {{=form.custom.begin}}
    <h3>Old Password: {{=form.custom.widget.old_password}}</h3>
        <br>
    <h3>NewPassword: {{=form.custom.widget.new_password}}</h3>
        <br>
    <h3>Verify Password: {{=form.custom.widget.new_password2}}</h3>
        <br>
    {{=form.custom.submit}}
    <input type="button" name="Cancel" value="Cancel" onclick="window.location = '../home.html' " /> 
    {{=form.custom.end}} 

{{pass}}    

</div>

<script language="javascript">
<!--
 jQuery("#web2py_user_form input:visible:enabled:first").focus();
//-->
</script>
